{use_macro file="Dataface_Main_Template.html"}
  {fill_slot name="main_section"}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.stack.js"></script>
<script type="text/javascript">
{literal}

var hrBar = Object.freeze({
   "LOGGED":0,
   "REQUIRED":1,
   "FULFILLED":2,
   "SURPLUS":3,
   "DEFICIENT":4,
   "NUMBER":5 });

var hrType = Object.freeze({
   "TOTAL":0,
   "POWERED":1,
   "AIRPLANES":2,
   "PIC":3,
   "PICCC":4,
   "NUMBER":5 });

function createArray(length) {
    var arr = new Array(length || 0),
        i = length;

    if (arguments.length > 1) {
        var args = Array.prototype.slice.call(arguments, 1);
        while(i--) arr[length-1 - i] = createArray.apply(this, args);
    }

    return arr;
}

function surplusOrDeficit(hours){
   if(hours[hrBar.LOGGED] > hours[hrBar.REQUIRED]){
      hours[hrBar.SURPLUS] = hours[hrBar.LOGGED]-hours[hrBar.REQUIRED];
      hours[hrBar.DEFICIENT] = 0;
      hours[hrBar.FULFILLED] = hours[hrBar.REQUIRED];
   }else{
      hours[hrBar.SURPLUS] = 0;
      hours[hrBar.DEFICIENT] = hours[hrBar.REQUIRED]-hours[hrBar.LOGGED];
      hours[hrBar.FULFILLED] = hours[hrBar.LOGGED];
   }
}

$(function () {
   //Create an array
   hourBarData = createArray(hrType.NUMBER, hrBar.NUMBER);
   
   //populate logged hours
   hourBarData[hrType.TOTAL][hrBar.LOGGED] = 
      {/literal}{$totalHours}{literal};
   hourBarData[hrType.POWERED][hrBar.LOGGED] = 0.0;
   hourBarData[hrType.AIRPLANES][hrBar.LOGGED] = 0.0;
   hourBarData[hrType.PIC][hrBar.LOGGED] = 
      {/literal}{$picHours}{literal};
   hourBarData[hrType.PICCC][hrBar.LOGGED] = 0.0;

   //populate required hours
   hourBarData[hrType.TOTAL][hrBar.REQUIRED] = 250.0;
   hourBarData[hrType.POWERED][hrBar.REQUIRED] = 100.0;
   hourBarData[hrType.AIRPLANES][hrBar.REQUIRED] = 50.0;
   hourBarData[hrType.PIC][hrBar.REQUIRED] = 100.0;
   hourBarData[hrType.PICCC][hrBar.REQUIRED] = 50.0;

   //calculate surpluses and deficits
   for(index = 0; index < hrType.NUMBER; ++index)
   {
      surplusOrDeficit(hourBarData[index]);   
   }

   //diagnostic output
   alert(hourBarData);
   
   //now combine them into one chart
   var combinedHoursBarData = [{
      data : [
         [ hourBarData[hrType.TOTAL][hrBar.FULFILLED] , 0 ],
         [ hourBarData[hrType.PIC][hrBar.FULFILLED] , -1 ]
      ],
      label: "complete req"
   }, {
      data: [
         [ hourBarData[hrType.TOTAL][hrBar.SURPLUS] , 0 ],
         [ hourBarData[hrType.PIC][hrBar.SURPLUS] , -1 ]
      ],
      label: "surplus"
   }, {
      data: [
         [ hourBarData[hrType.TOTAL][hrBar.DEFICIENT] , 0 ],
         [ hourBarData[hrType.PIC][hrBar.DEFICIENT] , -1 ]
      ],
      label: "deficient"
}];

//   var ticks = [[0,"PIC"],
//                [1,"Total"]];
   var ticks = [[0,"Total"],
                [-1,"PIC"]];

   $.plot($("#combinedChart"),
          combinedHoursBarData,
          {
           series: {
             stack: true,
             bars: {show:true,
                    horizontal:true,
                    barWidth: 0.6,
                    align: "center"
             }
           },
           yaxis: {show: true,
                   axisLabel: "Pic Time",
                   axisLabelUseCanvas: true,
                   ticks: ticks
           }
          });
});
</script>
{/literal}

{$body}

  {/fill_slot}
{/use_macro}  
