{use_macro file="Dataface_Main_Template.html"}
  {fill_slot name="main_section"}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.pie.min.js"></script>
<script type="text/javascript">
{literal}
$(function () {
   var dataset1 = {/literal}{$dataset1}{literal};
   //alert(dataset1); //useless, shows array of "[object Object]"
   $.plot($("#typePieChart"), dataset1, {series: { pie: {show:true}}});
});
</script>
{/literal}

{$body}

  {/fill_slot}
{/use_macro}  
